.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  background-color: currentColor;
}

.icon-menu {
  $src: 'https://api.iconify.design/ep/menu.svg';
  -webkit-mask-image: url($src);
  mask-image: url($src);
}

.icon-delete {
  $src: 'https://api.iconify.design/material-symbols/delete-outline.svg';
  -webkit-mask-image: url($src);
  mask-image: url($src);
}

.icon-go {
  $src: 'https://api.iconify.design/ic/outline-content-paste-go.svg';
  -webkit-mask-image: url($src);
  mask-image: url($src);
}

.icon-up {
  $src: 'https://api.iconify.design/carbon/arrow-up.svg';
  -webkit-mask-image: url($src);
  mask-image: url($src);
}

.icon-down {
  $src: 'https://api.iconify.design/carbon/arrow-down.svg';
  -webkit-mask-image: url($src);
  mask-image: url($src);
}

.icon-seo {
  $src: 'https://api.iconify.design/tabler/seo.svg';
  -webkit-mask-image: url($src);
  mask-image: url($src);
}

.icon-config {
  $src: 'https://api.iconify.design/eos-icons/configuration-file-outlined.svg';
  -webkit-mask-image: url($src);
  mask-image: url($src);
}

.icon-draw {
  $src: 'https://api.iconify.design/fluent/draw-shape-20-regular.svg';
  -webkit-mask-image: url($src);
  mask-image: url($src);
}

.icon-chevron-right {
  $src: 'https://api.iconify.design/system-uicons/chevron-right.svg';
  -webkit-mask-image: url($src);
  mask-image: url($src);
}

.icon-select {
  $src: 'https://api.iconify.design/material-symbols/gesture-select.svg';
  -webkit-mask-image: url($src);
  mask-image: url($src);
}

.icon-plus {
  $src: 'https://api.iconify.design/mdi/plus.svg';
  -webkit-mask-image: url($src);
  mask-image: url($src);
}

.icon-arrow-up {
  $src: 'https://api.iconify.design/ph/arrow-up-light.svg';
  -webkit-mask-image: url($src);
  mask-image: url($src);
}

.icon-child {
  $src: 'https://api.iconify.design/clarity/child-arrow-line.svg';
  -webkit-mask-image: url($src);
  mask-image: url($src);
}

.icon-trash {
  $src: 'https://api.iconify.design/mdi/trash-outline.svg';
  -webkit-mask-image: url($src);
  mask-image: url($src);
}

.icon-copy {
  $src: 'https://api.iconify.design/material-symbols/copy-all-sharp.svg';
  -webkit-mask-image: url($src);
  mask-image: url($src);
}

.icon-cut {
  $src: 'https://api.iconify.design/material-symbols/cut.svg';
  -webkit-mask-image: url($src);
  mask-image: url($src);
}

.icon-paste {
  $src: 'https://api.iconify.design/material-symbols/content-paste.svg';
  -webkit-mask-image: url($src);
  mask-image: url($src);
}